<%- include("header") -%>
<h2>Welcome to our TO DO List website! </h2><br>
<p>We are here to help you organize your tasks and achieve your goals with ease and efficiency. Our platform provides a seamless and intuitive user experience, enabling you to manage your tasks and create custom lists tailored to your unique needs.
    <br><br>
    At our TO DO List website, we understand that everyone has different preferences and requirements when it comes to organizing their tasks. That's why we offer the flexibility to create custom lists. Whether you're planning a vacation, managing a project, or simply making a daily to-do list, our platform empowers you to structure your tasks in a way that makes the most sense to you.
    <br><br>
    Our TO DO List website is designed to be accessible from any device, so you can manage your tasks on the go. Whether you're using a computer, tablet, or smartphone, you can easily access your lists and stay organized no matter where you are.
    <br><br>
</p>
<%- include("footer") -%>