<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    
    <link rel="stylesheet" href ="/css/styles.css">
</head>
<div class="topnav">
    <a  href='/'>Home</a>
    <a href='/all'>All List</a>
     <a href='/about'>About</a>
     
     <div class="search-container">
       <form action="/post" method="post">
         <input id="searchbar" type="text" placeholder="Create CustomList" name="customList"><button id="mibtn" type="submit">Create</button>
        
       </form>
     </div>
   </div>

  
<body>